name: dotnet-em

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  call-dotnet-workflow:
    name: call-dotnet-workflow
    uses: my-actions-mc-1/workflow-1/.github/workflows/main-pipeline-dotnet.yaml@main
    with:
      project-path: 'dotnet/EmployeeManage'
      dotnet-version: '8.0.x'
      project-env: ${{ vars.DOTNET_EM_ENVIRONMENT }}
    secrets:
      MY_TOKEN: ${{ secrets.MY_TOKEN }}
